.person > circle {
  fill: hsla(168, 50%, 50%, 0.6);
}

.person > text {
  font-family: 'Wellfleet', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
}

.relationship {
  stroke-width: 5px;
}
