/* Page Layout */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.graph {
  display: block;
  width: 100%;
  height: 80%;
}

.graph > svg {
  width: 100%;
  height: 100%;
}

.controls {
  width: 100%;
  height: 20%;

  background: #EEE;
  color: #644;
}

/* Graph styling */
.person > circle {
  fill: hsla(168, 50%, 50%, 0.6);
}

.person > text {
  font-family: 'Wellfleet', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
}

.relationship {
  stroke-width: 5px;
}

/* Controls Styling */
.controls {
  font-family: 'Wellfleet', sans-serif;
}

.legend-section {
  padding: 10px;
}

.legend-section > h2 {
  margin-top: 0px;
}

.legend .colour-key,
.legend input[type='checkbox'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
