.person > circle {
  fill: hsla(168, 50%, 50%, 0.6);
}

.person > text {
  font-family: 'Wellfleet', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
}

.relationship {
  stroke-width: 5px;
}

.legend {
  font-family: 'Wellfleet', sans-serif;
}

.legend .colour-key,
.legend input[type='checkbox'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
